<section class="sessions new">
  <div class="content">
    <%= form_for(:user, url: sessions_path, method: :post) do |f| %>
      <h1 class="text-center">Sign In</h1>

      <div class="form-group">
        <h4><%= f.label :email_field, "Email", class: '' %></h4>
        <%= f.email_field :email, required: true, id: "user_email_field", class: "form-control" %>
      </div>

      <div class="form-group">
        <h4><%= f.label :password_field, "Password", class: '' %></h4>
        <%= f.password_field :password, required: true, id: "user_password_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Log me in!", class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>

    <h5 class="text-center">
      <%= link_to "I don't have an account", new_user_path, class: '' %>
    </h5>

    <h5 class="text-center">
      <%= link_to "Return home", root_path, class: '' %>
    </h5>
  </div>
</section>
