<section class="photos new">
  <div class="content">
    <%= form_for(:photo, :html => {:multipart => true} ,url: photos_path, method: :post) do |f| %>
      <h1 class="text-center">Post new photo</h1>

      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="form-group">
        <h4><%= f.label :photo_url, "Picture", class: ''%></h4>
        <%= f.file_field :photo_url, id: "post_photo_field", class: "form-control" %>
      </div>

      <div class="form-group">
        <h4><%= f.label :caption, "Caption", class: '' %></h4>
        <%= f.text_field :caption, id: "photo_caption_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Post new photo", class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>

    <h5 class= "text-center">
      <%= link_to "Return to home", root_path, class: '' %>
    </h5>
  </div>
</section>
