<html>
  <body>
    <section class="photo">
      <div class="show-photo">
        <div class="image-container">
          <%= image_tag @photo.photo_url %>
        </div>

        <div class="caption-container">
          <%= render partial: 'likes/create' %>
          <div id="likes-counter-container">
            <%= render partial: 'likes/counter', locals: { photo: @photo } %>
          </div>
          <h4><%= @photo.caption %></h4>
        </div>


        <div class="back">
          <%= link_to "Back", photos_path %>
        </div>

      </div>
    </section>
  </body>
</html>
