<!DOCTYPE html>
<html>
  <head>
    <title>Instasnap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Instasnap", root_path, class: '' %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
            <li><%= link_to "New Photo", new_photo_path %></li>
            <li><%= link_to "Logout", "/sessions", class: '', method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path, class: '' %></li>
            <li><%= link_to "Login", new_sessions_path, class: '' %></li>
          <% end %>
          <li><%= link_to "Search Users", users_path, class: '' %></li>

        </ul>
      </div>
    </div>

    <div id="flash-messages-container">
      <%= render partial: 'layouts/flash_messages' %>
    </div>

    <%= yield %>
  </body>
</html>
